{% extends 'base.html' %}
{% load static from staticfiles %}
<!--{% load bootstrap4 %}-->

{% block content %}
<video id="firevideo" autoplay muted loop>
  <source src="{% static 'fire_video.mp4' %}" type="video/mp4">
</video>

<div class="container">
    <div class="h-100 row align-items-center">
      <div class="col">
        <div class="alert alert-success text-center">
            <h1>Check your inbox.</h1>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}